* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
canvas {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  font-family: "Bangers", cursive;
  background: black;
}
input {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  padding: 10px;
  margin: 10px;
  width: calc(100% - 20px);
  background-color: none;
}
a {
  color: white;
  position: absolute;
  bottom: 50px;
  left: 20px;
  z-index: 100;
}
